[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "==1.3.4"
numpy = "==1.21.3"
pyjanitor = "==0.21.2"
matplotlib = "==3.4.3"
seaborn = "==0.11.2"
black = "==21.10b0"
blackcellmagic = "==0.0.3"
missingno = "==0.5.0"

[dev-packages]
ipykernel = "*"

[requires]
python_version = "3.9"
